<div class="header-container">
  <mat-toolbar>
    <div class="header-contents-container">
      <div>Welcome to MovieCraze</div>
      <nav>
        <ul class="nav-ul">
          <li>
            <button mat-raised-button color="primary">Home</button>
          </li>
          <li>
            <button mat-raised-button color="primary">Profile</button>
          </li>
          <li>
            <button mat-raised-button color="primary">Sign Out</button>
          </li>
        </ul>
      </nav>
    </div>
  </mat-toolbar>
</div>
