<div class="header-container">
  <mat-toolbar>
    <div class="header-contents-container">
      <div>Welcome to MovieCraze</div>
      <nav>
        <ul class="nav-ul">
          <li>
            <a
              routerLink="/movies"
              routerLinkActive="active"
              mat-raised-button
              color="primary"
            >
              Home
            </a>
          </li>
          <li>
            <a
              routerLink="/profile"
              routerLinkActive="active"
              mat-raised-button
              color="primary"
              >Profile</a
            >
          </li>
          <li>
            <button
              routerLink="/welcome"
              routerLinkActive="active"
              (click)="signOutHandler()"
              mat-raised-button
              color="primary"
            >
              Sign Out
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </mat-toolbar>
</div>
