<app-header></app-header>
<mat-card class="container-card">
  <mat-card-header>
    <h1>Edit Profile</h1>
  </mat-card-header>
  <mat-card-content>
    <form>
      <h2>Change Info</h2>
      <mat-form-field>
        <input
          matInput
          placeholder="Name"
          name="Name"
          #name="ngModel"
          minlength="2"
          pattern="[a-zA-Z]*"
          type="text"
          [(ngModel)]="userData.Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          name="Username"
          #username="ngModel"
          minlength="5"
          pattern="[a-zA-Z0-9]*"
          type="text"
          [(ngModel)]="userData.Username"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          name="Email"
          #email="ngModel"
          type="email"
          email
          [(ngModel)]="userData.Email"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Birthdate"
          name="Birthdate"
          type="date"
          #birthdate="ngModel"
          [(ngModel)]="userData.Birthdate"
        />
      </mat-form-field>
      <div>
        <div
          class="error-box"
          *ngIf="name.errors || username.errors || email.errors"
        >
          <div style="font-weight: bold">Fix errors to submit form:</div>
          <div *ngIf="name.errors?.minlength">
            - Name must be at least 2 characters in length.
          </div>
          <div *ngIf="name.errors?.pattern">
            - Name can only contain letters.
          </div>
          <div *ngIf="username.errors?.pattern">
            - Username can only contain numbers and letters.
          </div>
          <div *ngIf="username.errors?.minlength">
            - Username must be at least 5 characters long.
          </div>
          <div *ngIf="email.errors?.email">- Email must be valid email</div>
        </div>

        <button
          mat-raised-button
          color="primary"
          *ngIf="
            (name.value && !name.errors) ||
            (username.value && !username.errors) ||
            (email.value && !email.errors) ||
            birthdate.value
          "
          (click)="onUpdateUserInfo()"
        >
          Submit Changes
        </button>
      </div>
    </form>
    <form style="display: flex; flex-direction: column; width: 250px">
      <h2>Change Password</h2>
      <mat-form-field>
        <input
          matInput
          placeholder="New Password"
          name="New Password"
          type="password"
          minlength="7"
          #password="ngModel"
          [(ngModel)]="updatePass.Password"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Confirm Password"
          name="Confirm Password"
          type="password"
          #confirmPassword="ngModel"
          pattern="{{ password.value }}"
          ngModel
        />
      </mat-form-field>
      <div *ngIf="password.errors || confirmPassword.errors" class="error-box">
        <div style="font-weight: bold">Fix errors to submit form:</div>
        <div *ngIf="password.errors?.minlength">
          - Password must be at least 7 characters in length
        </div>
        <div *ngIf="confirmPassword.errors?.pattern">
          - Both passwords must match.
        </div>
      </div>
      <button
        *ngIf="
          password.value &&
          confirmPassword.value &&
          password.valid &&
          confirmPassword.valid
        "
        (click)="onUpdatePassword()"
        mat-raised-button
        color="primary"
      >
        Submit Changes
      </button>
    </form>
    <form style="display: flex; flex-direction: column; width: 250px">
      <h2>Delete Account</h2>
      <button mat-raised-button color="primary" (click)="onDeleteUser()">
        Delete
      </button>
    </form>
  </mat-card-content>
</mat-card>
