* {
  margin: 0;
  padding: 0;
}
.movie-view-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}
.container-card {
  display: flex;
  justify-content: center;
  width: 350px;
  margin: 10px auto 10px;
  height: 600px;
}
.mat-card-title {
  margin-bottom: 16px;
}
.image {
  height: 500px;
  border: 1px solid gray;
}
.button-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.mat-icon:hover {
  cursor: pointer;
}
