<app-header></app-header>
<div style="display: flex">
  <mat-card *ngFor="let movie of movies; let i = index">
    <mat-dialog-content>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle><img src="{{ movie.ImagePath }}" /></mat-card-subtitle>
      <mat-card-actions>
        <button
          (click)="openGenreDialog(movie.Genre)"
          mat-raised-button
          color="primary"
        >
          Genre
        </button>
        <button
          (click)="openDirectorDialog(movie.Director)"
          mat-raised-button
          color="primary"
        >
          Director
        </button>
        <button
          (click)="openSynopsisDialog(movie.Description)"
          mat-raised-button
          color="primary"
        >
          Synopsis
        </button>
        <mat-icon>favorite_border</mat-icon>
      </mat-card-actions>
    </mat-dialog-content>
  </mat-card>
</div>
