<app-header></app-header>

<div class="movie-view-container background_primary">
  <mat-card
    *ngFor="let movie of movies; let i = index"
    class="container-card component-background"
  >
    <mat-dialog-content>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        ><img class="image" src="{{ movie.ImagePath }}"
      /></mat-card-subtitle>
      <mat-card-actions class="button-container">
        <button
          (click)="openGenreDialog(movie.Genre)"
          mat-raised-button
          class="button_primary"
        >
          Genre
        </button>
        <button
          (click)="openDirectorDialog(movie.Director)"
          mat-raised-button
          class="button_primary"
        >
          Director
        </button>
        <button
          (click)="openSynopsisDialog(movie)"
          mat-raised-button
          class="button_primary"
        >
          Synopsis
        </button>
        <mat-icon *ngIf="!filterFavs(movie._id)" (click)="onAddFav(movie._id)"
          >favorite_border</mat-icon
        >
        <mat-icon *ngIf="filterFavs(movie._id)" (click)="onDeleteFav(movie._id)"
          >favorite</mat-icon
        >
      </mat-card-actions>
    </mat-dialog-content>
  </mat-card>
</div>
