<mat-card>
  <mat-card-header>
    <h1>Login!</h1>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          #username="ngModel"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="Password"
          type="password"
          name="Password"
          #password="ngModel"
          required
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div
      *ngIf="
        (username.touched && username.errors) ||
        (password.touched && password.errors)
      "
      class="error-box"
    >
      <div style="font-weight: bold">Fix errors to submit form:</div>
      <div *ngIf="username.touched && username.errors?.required">
        - Username is required
      </div>
      <div *ngIf="password.touched && password.errors?.required">
        - Password is required
      </div>
    </div>
    <button
      *ngIf="!username.errors && !password.errors"
      mat-raised-button
      (click)="loginUser()"
      color="primary"
    >
      Login
    </button>
  </mat-card-actions>
</mat-card>
